<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout}">
<head>
    <link th:href="@{/css/mypage/mypage_basic.css}" rel="stylesheet">
</head>
<div layout:fragment="content">
    <div class="blog-content">
        <div class="main-conten">
            <div class="sidebar">
                <div class="profile">
                    <img src="../img/profile.png" alt="" />
                    <h3>ADIOS</h3>
                </div>
                <ul>
                    <li>
                        <a href="mypage_profile.html" class="active">
                            <span class="item">프로필 변경</span>
                        </a>
                    </li>
                    <li>
                        <a href="mypage_profile_correction.html">
                            <span class="item">정보 변경</span>
                        </a>
                    </li>
                    <li>
                        <a href="mypage_member_secession.html">
                            <span class="item">휴먼 계정</span>
                        </a>
                    </li>
                    <li>
                        <a href="mypage_Dormant_member_deactivation.html">
                            <span class="item">회원 탈퇴</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main">
            <form action="" class="profil-form2">
                <h3>회원정보 변경</h3>
                <br />
                <label for="pwd">이름</label>
                <input
                        type="password"
                        name=""
                        id="pwd"
                        style="width: 180px"
                        placeholder="개명 시 작성해주세요"
                />
                <br />
                <label for="pwd">현재 비밀번호 *</label>
                <input
                        type="password"
                        name=""
                        id="pwd"
                        style="width: 180px"
                        placeholder="기존 비밀번호"
                />
                <br />

                <label for="pwd">변경 비밀번호 *</label>
                <input
                        type="password"
                        name=""
                        id="pwd"
                        style="width: 180px"
                        placeholder="변경 시 입력"
                />
                <br />

                <label for="pwd">비밀번호 확인 *</label>
                <input type="password" name="" id="pwd" style="width: 180px" /><br />
                <label for="tel">기존연락처</label>
                <input type="tel" name="" id="Result" style="width: 50px" />
                <span class="hyphen">-</span>
                <input type="tel" name="" id="tel" style="width: 50px" />
                <span class="hyphen">-</span>
                <input type="tel" name="" id="tel" style="width: 50px" />
                <br />
                <label for="tel" class="class">변경연락처</label>
                <input type="tel" name="" id="tel" style="width: 50px" />
                <span class="hyphen">-</span>
                <input type="tel" name="" id="tel" style="width: 50px" />
                <span class="hyphen">-</span>
                <input type="tel" name="" id="tel" style="width: 50px" />
                <button type="submit" style="width: 100px">핸드폰 인증</button>

                <br />

                <label for="pwd">우편번호</label>
                <input type="text" name="" id="adressnum" style="width: 70px" />
                <button style="width: 45px">검색</button>

                <br />

                <label for="pwd">주소</label>
                <input type="password" name="" id="pwd" />

                <br />
                <label for="pwd">상세주소</label>
                <input type="password" name="" id="pwd" />

                <br />

                <label for="selfsay" class="label_textArea_box">간단한 소개</label>
                <br />
                <textarea
                        if="memo"
                        name="selfsay"
                        cols="60"
                        rows="6"
                        placeholder="본인을 소개해주세요."
                ></textarea>

                <br /><br />
                <div id="bu">
                    <div id="bu1">
                        <button type="submit" class="button_profile">변경</button>
                        <button type="reset" class="button_profile">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>