<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/mypage/mypage_basic.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/mypage/mypageupdate.js}"></script>
</head>
<div layout:fragment="content" id="content">
    <div class="blog-content">
        <div class="main-conten">
            <div class="sidebar">
                <div class="profile">
                    <img src="" alt="" />
                    <h3>ADIOS</h3>
                </div>
                <<ul>
                <li>
                    <a href="/mypage">
                        <span class="item">정보 변경</span>
                    </a>
                </li>
                <li>
                    <a href="/mypage/passwordmodify" th:if="${!social}">
                        <span class="item">비밀번호변경</span>
                    </a>
                </li>
                <li>
                    <a href="/mypage/secession">
                        <span class="item">회원 탈퇴</span>
                    </a>
                </li>
            </ul>
            </div>
        </div>

        <!-- 메인 -->
        <div id="main">
            <form method="POST" action="/mypage/modify"  id="nickNameChange">

                <label>닉네임 :</label>
                <span th:text="${nickName}"></span>
                <input type="text" name="nickName" placeholder="변경하실 닉네임을 입력해주세요">
                <button type="button" name="nickName" id="nickName">닉네임 확인</button>
                <input type="submit" class="submit" value="닉네임변경"  >
                <input type="hidden" th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}">
            </form>
        </div>
    </div>
</div>
</html>