<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout}">
<head>
    <link th:href="@{/css/mypage/mypage_basic.css}" rel="stylesheet">
</head>
<div layout:fragment="content">
    <div class="blog-content">
        <div class="main-conten">
            <div class="sidebar">
                <div class="profile">
                    <img src="../img/profile.png" alt="" />
                    <h3>ADIOS</h3>
                </div>
                <<ul>
                <li>
                    <a href="/mypage">
                        <span class="item">정보 변경</span>
                    </a>
                </li>
                <li>
                    <a href="/mypage/passwordmodify" th:if="${!social}">
                        <span class="item">비밀번호변경</span>
                    </a>
                </li>
                <li>
                    <a href="/mypage/secession">
                        <span class="item">회원 탈퇴</span>
                    </a>
                </li>
            </ul>
            </div>
        </div>

        <!-- 메인 -->
        <div id="main">
            <!-- 여기에서만 작성 -->
        </div>
    </div>
</div>
</html>